# STEP 5: ETL the data from 3NF tables to Facts & Dimension Tables
**IMPORTANT:** The following exercise depends on first having successing completed Exercise 1: Step 4. 

Start by running the code in the cell below to connect to the database. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed steps 1 through 4, then skip to the second cell.

In [1]:
# !PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila
# !PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila -f Data/pagila-schema.sql
# !PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila -f Data/pagila-data.sql

In [2]:
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = 'dataengineer'
DB_PASSWORD = 'udacity'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://dataengineer:udacity@127.0.0.1:5432/pagila

### Introducing SQL to SQL ETL
When writing SQL to SQL ETL, you first create a table then use the INSERT and SELECT statements together to populate the table. Here's a simple example.

First, you create a table called test_table.

In [3]:
%%sql
CREATE TABLE test_table
(
  date timestamp,
  revenue  decimal(5,2)
);

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
Done.

[]

Then you use the INSERT and SELECT statements to populate the table. In this case, the SELECT statement extracts data from the `payment` table and INSERTs it INTO the `test_table`.

In [4]:
%%sql
INSERT INTO test_table (date, revenue)
SELECT payment_date AS date,
       amount AS revenue
FROM payment;

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
16049 rows affected.

[]

Then you can use a SELECT statement to take a look at your new table.

In [5]:
%sql SELECT * FROM test_table LIMIT 5;

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
5 rows affected.

[(datetime.datetime(2020, 1, 24, 18, 40, 19, 996577), Decimal('1.99')),
 (datetime.datetime(2020, 1, 25, 12, 16, 50, 996577), Decimal('0.99')),
 (datetime.datetime(2020, 1, 28, 18, 44, 14, 996577), Decimal('6.99')),
 (datetime.datetime(2020, 1, 28, 21, 58, 2, 996577), Decimal('0.99')),
 (datetime.datetime(2020, 1, 29, 5, 10, 6, 996577), Decimal('4.99'))]

If you need to delete the table and start over, use the DROP TABLE command, like below.

In [6]:
%sql DROP TABLE test_table

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
Done.

[]

Great! Now you'll do the same thing below to create the dimension and fact tables for the Star Schema using the data in the 3NF database.

## ETL from 3NF to Star Schema

### 3NF - Entity Relationship Diagram

<img src="./notebook_images/lesson1_exercise1_img1.png" width="50%"/>

### Star Schema - Entity Relationship Diagram

<img src="./notebook_images/lesson1_exercise1_img2.png" width="50%"/>

In this section, you'll populate the tables in the Star schema. You'll `extract` data from the normalized database, `transform` it, and `load` it into the new tables. 

To serve as an example, below is the query that populates the `dimDate` table with data from the `payment` table.
* NOTE 1: The EXTRACT function extracts date parts from the payment_date variable.
* NOTE 2: If you get an error that says that the `dimDate` table doesn't exist, then go back to Exercise 1: Step 4 and recreate the tables.

In [7]:
%%sql
INSERT INTO dimDate (date_key, date, year, quarter, month, day, week, is_weekend)
SELECT DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) AS date_key,
       date(payment_date)                                           AS date,
       EXTRACT(year FROM payment_date)                              AS year,
       EXTRACT(quarter FROM payment_date)                           AS quarter,
       EXTRACT(month FROM payment_date)                             AS month,
       EXTRACT(day FROM payment_date)                               AS day,
       EXTRACT(week FROM payment_date)                              AS week,
       CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6, 7) THEN true ELSE false END AS is_weekend
FROM payment;

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "dimdate_pkey"
DETAIL:  Key (date_key)=(20200428) already exists.

[SQL: INSERT INTO dimDate (date_key, date, year, quarter, month, day, week, is_weekend)
SELECT DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) AS date_key,
       date(payment_date)                                           AS date,
       EXTRACT(year FROM payment_date)                              AS year,
       EXTRACT(quarter FROM payment_date)                           AS quarter,
       EXTRACT(month FROM payment_date)                             AS month,
       EXTRACT(day FROM payment_date)                               AS day,
       EXTRACT(week FROM payment_date)                              AS week,
       CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6, 7) THEN true ELSE false END AS is_weekend
FROM payment;]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

TODO: Now it's your turn. Populate the `dimCustomer` table with data from the `customer`, `address`, `city`, and `country` tables. Use the starter code as a guide.

In [8]:
%%sql
INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address, 
                         address2, district, city, country, postal_code, phone, active, 
                         create_date, start_date, end_date)
SELECT c.customer_id as customer_key,
       c.customer_id,
       c.first_name,
       c.last_name,
       c.email,
       a.address,
       a.address2,
       a.district,
       ci.city,
       co.country,
       a.postal_code,
       a.phone,
       c.active,
       c.create_date,
       now()         AS start_date,
       now()         AS end_date
FROM customer c
JOIN address a  ON (c.address_id = a.address_id)
JOIN city ci    ON (a.city_id = ci.city_id)
JOIN country co ON (ci.country_id = co.country_id);

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "dimcustomer_pkey"
DETAIL:  Key (customer_key)=(1) already exists.

[SQL: INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address,
                         address2, district, city, country, postal_code, phone, active,
                         create_date, start_date, end_date)
SELECT c.customer_id as customer_key,
       c.customer_id,
       c.first_name,
       c.last_name,
       c.email,
       a.address,
       a.address2,
       a.district,
       ci.city,
       co.country,
       a.postal_code,
       a.phone,
       c.active,
       c.create_date,
       now()         AS start_date,
       now()         AS end_date
FROM customer c
JOIN address a  ON (c.address_id = a.address_id)
JOIN city ci    ON (a.city_id = ci.city_id)
JOIN country co ON (ci.country_id = co.country_id);]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

TODO: Populate the `dimMovie` table with data from the `film` and `language` tables. Use the starter code as a guide.

In [9]:
%%sql
INSERT INTO dimMovie (movie_key, film_id, title, description, release_year, language, original_language,
                      rental_duration, length, rating, special_features)
SELECT f.film_id as movie_key,
       f.film_id,
       f.title,
       f.description,
       f.release_year,
       l.name AS language,
       orig_lang.name AS original_language,
       f.rental_duration,
       f.length,
       f.rating,
       f.special_features
FROM film f
JOIN language l              ON (f.language_id=l.language_id)
LEFT JOIN language orig_lang ON (f.original_language_id = orig_lang.language_id);

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
1000 rows affected.

[]

TODO: Populate the `dimStore` table with data from the `store`, `staff`, `address`, `city`, and `country` tables. This time, there's no guide. You should write the query from scratch. Use the previous queries as a reference.

In [14]:
%%sql
INSERT INTO dimStore(store_key, store_id, address, address2, district, city, country, postal_code,
                    manager_first_name, manager_last_name, start_date, end_date)
SELECT s.store_id as store_key,
       s.store_id,
       a.address,
       a.address2,
       a.district,
       c.city,
       co.country,
       a.postal_code,
       sf.first_name as manager_first_name,
       sf.last_name as manager_last_name,
       now() as start_date,
       now() as end_date
FROM store s 
JOIN address a ON (s.address_id = a.address_id)
JOIN city c ON (a.city_id = c.city_id)
JOIN country co ON (c.country_id = co.country_id)
JOIN staff sf ON (s.manager_staff_id = sf.staff_id)

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
2 rows affected.

[]

In [16]:
%%sql
select * from store

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
2 rows affected.

[(1, 1, 1, datetime.datetime(2020, 2, 15, 6, 57, 12, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None))),
 (2, 2, 2, datetime.datetime(2020, 2, 15, 6, 57, 12, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=-180, name=None)))]

TODO: Populate the `factSales` table with data from the `payment`, `rental`, and `inventory` tables. This time, there's no guide. You should write the query from scratch. Use the previous queries as a reference.

In [18]:
%%sql
INSERT INTO factSales (sales_key, date_key, customer_key, movie_key, store_key, sales_amount)
SELECT p.payment_id as sales_key,
       TO_CHAR(p.payment_date :: DATE, 'yyyyMMDD')::integer as date_key,
       p.customer_id as customer_key,
       i.film_id as movie_key,
       sf.store_id as store_key,
       p.amount as sales_amount
FROM payment p 
JOIN rental r ON (p.rental_id = r.rental_id)
JOIN inventory i ON (r.inventory_id = i.inventory_id)
JOIN staff sf ON (p.staff_id = sf.staff_id)

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
16049 rows affected.

[]

In [21]:
%%sql
SELECT f.date_key, s.city, SUM(f.sales_amount) FROM factSales f
JOIN dimStore s ON (f.store_key = s.store_key)
GROUP BY 
f.date_key, s.city

 * postgresql://dataengineer:***@127.0.0.1:5432/pagila
82 rows affected.

[(20200319, 'Lethbridge', Decimal('1126.19')),
 (20200426, 'Woodridge', Decimal('347.18')),
 (20200125, 'Lethbridge', Decimal('309.28')),
 (20200217, 'Lethbridge', Decimal('690.33')),
 (20200214, 'Woodridge', Decimal('163.57')),
 (20200128, 'Lethbridge', Decimal('456.91')),
 (20200217, 'Woodridge', Decimal('726.27')),
 (20200221, 'Woodridge', Decimal('445.96')),
 (20200302, 'Woodridge', Decimal('1134.23')),
 (20200323, 'Woodridge', Decimal('943.79')),
 (20200408, 'Woodridge', Decimal('1129.41')),
 (20200124, 'Woodridge', Decimal('64.84')),
 (20200130, 'Woodridge', Decimal('277.26')),
 (20200220, 'Lethbridge', Decimal('691.31')),
 (20200405, 'Lethbridge', Decimal('263.39')),
 (20200131, 'Lethbridge', Decimal('250.44')),
 (20200427, 'Lethbridge', Decimal('1288.82')),
 (20200126, 'Woodridge', Decimal('339.28')),
 (20200426, 'Lethbridge', Decimal('475.95')),
 (20200322, 'Woodridge', Decimal('1190.13')),
 (20200411, 'Lethbridge', Decimal('985.63')),
 (20200430, 'Woodridge', Decimal('2502.29')),
 (20200219, 'Woodridge', Decimal('748.27')),
 (20200319, 'Woodridge', Decimal('1468.68')),
 (20200409, 'Lethbridge', Decimal('1034.32')),
 (20200317, 'Lethbridge', Decimal('1256.85')),
 (20200428, 'Lethbridge', Decimal('1262.89')),
 (20200410, 'Lethbridge', Decimal('981.62')),
 (20200410, 'Woodridge', Decimal('903.71')),
 (20200316, 'Lethbridge', Decimal('244.40')),
 (20200126, 'Lethbridge', Decimal('401.07')),
 (20200320, 'Woodridge', Decimal('1461.70')),
 (20200127, 'Woodridge', Decimal('311.18')),
 (20200215, 'Lethbridge', Decimal('700.21')),
 (20200430, 'Lethbridge', Decimal('2311.68')),
 (20200214, 'Lethbridge', Decimal('127.65')),
 (20200318, 'Lethbridge', Decimal('1410.81')),
 (20200129, 'Lethbridge', Decimal('341.22')),
 (20200427, 'Woodridge', Decimal('1283.87')),
 (20200405, 'Woodridge', Decimal('297.23')),
 (20200127, 'Lethbridge', Decimal('423.98')),
 (20200408, 'Lethbridge', Decimal('1076.45')),
 (20200302, 'Lethbridge', Decimal('1013.68')),
 (20200125, 'Woodridge', Decimal('285.28')),
 (20200406, 'Lethbridge', Decimal('1000.56')),
 (20200429, 'Woodridge', Decimal('1587.31')),
 (20200220, 'Woodridge', Decimal('734.29')),
 (20200412, 'Lethbridge', Decimal('727.23')),
 (20200514, 'Woodridge', Decimal('280.09')),
 (20200323, 'Lethbridge', Decimal('1083.43')),
 (20200411, 'Woodridge', Decimal('1029.62')),
 (20200128, 'Woodridge', Decimal('316.22')),
 (20200216, 'Woodridge', Decimal('645.43')),
 (20200229, 'Lethbridge', Decimal('184.55')),
 (20200409, 'Woodridge', Decimal('1137.31')),
 (20200317, 'Woodridge', Decimal('1270.06')),
 (20200130, 'Lethbridge', Decimal('360.12')),
 (20200221, 'Lethbridge', Decimal('436.00')),
 (20200320, 'Lethbridge', Decimal('1263.00')),
 (20200218, 'Lethbridge', Decimal('717.26')),
 (20200229, 'Woodridge', Decimal('199.54')),
 (20200301, 'Lethbridge', Decimal('1500.43')),
 (20200321, 'Woodridge', Decimal('1529.51')),
 (20200321, 'Lethbridge', Decimal('1315.88')),
 (20200514, 'Lethbridge', Decimal('234.09')),
 (20200407, 'Lethbridge', Decimal('1074.53')),
 (20200407, 'Woodridge', Decimal('988.65')),
 (20200412, 'Woodridge', Decimal('816.16')),
 (20200215, 'Woodridge', Decimal('676.33')),
 (20200318, 'Woodridge', Decimal('1264.96')),
 (20200301, 'Woodridge', Decimal('1325.86')),
 (20200218, 'Woodridge', Decimal('715.40')),
 (20200429, 'Lethbridge', Decimal('1597.29')),
 (20200124, 'Lethbridge', Decimal('78.81')),
 (20200316, 'Woodridge', Decimal('321.27')),
 (20200216, 'Lethbridge', Decimal('679.38')),
 (20200428, 'Woodridge', Decimal('1427.72')),
 (20200131, 'Woodridge', Decimal('294.31')),
 (20200129, 'Woodridge', Decimal('314.23')),
 (20200219, 'Lethbridge', Decimal('734.22')),
 (20200406, 'Woodridge', Decimal('1028.64')),
 (20200322, 'Lethbridge', Decimal('1377.61'))]