# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [14]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [15]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/zen/Documentos/Python Projects/Udacity_DataEngineer/2_datamodeling/project2_datamodeling_with_cassandra

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [16]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [17]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [18]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [19]:
# Creates a KEYSPACE named udacity
try:
    session.execute("""
        CREATE KEYSPACE IF NOT EXISTS udacity
        WITH REPLICATION =
        { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }""")
except Exception as e:
    print(e)

#### Set Keyspace

In [20]:
# Set current session to udacity keyspace created above
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


- The following query is required to obtain the data filtered by sessionId and itemInSession

`SELECT  artist, song, length FROM music_library WHERE sessionId = 338 AND itemInSession = 4`

For this table the primary key is a composed key `PRIMARY KEY (sessionId, itemInSession)`, sessionId is the partition key and itemInSession is the clustering key

In [21]:
# CREATE TABLE FOR SESSIONS_LIBRARY
create_query = """CREATE TABLE IF NOT EXISTS sessions_library (
sessionId        INT,
itemInSession    INT,
artist           TEXT,
song             TEXT,
length           DECIMAL,
userId           INT,
firstName        TEXT,
lastName         TEXT,
gender           TEXT,
location         TEXT,
level            TEXT,
PRIMARY KEY (sessionId, itemInSession)
)
"""

session.execute(create_query)

In [22]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        #INSERT statements for sessions_library values
        query = """INSERT INTO sessions_library (sessionId, itemInSession, artist, song, length, userId, 
        firstName, lastName, gender, location, level)
        """
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (int(line[8]), int(line[3]), line[0], line[9], float(line[5]),
                               int(line[10]), line[1], line[4], line[2], line[7], line[6])
                        )

#### Do a SELECT to verify that the data have been inserted into each table

In [23]:
# Select artist name, song name and length for the sessionId = 338 and itemInSession = 4 from session_library
select_query = """SELECT  artist, song, length FROM sessions_library WHERE sessionId = 338 AND itemInSession = 4"""
try:
    rows = session.execute(select_query)
except Exception as e:
    print(e)
else:
    for r in rows:
        print(r.artist, r.song, r.length)

Faithless Music Matters (Mark Knight Dub) 495.3073

### Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

- The following query is required to obtain the data filtered by sessionId and itemInSession

`SELECT artist, song, itemInSession, firstName, lastName FROM music_library2 WHERE userId=10 AND sessionId=182`

For this table the primary key is a composed key `PRIMARY KEY (userId, sessionId, itemInSession)`, userId is the partition key, sessionId and itemInSession are the clustering keys

In [24]:
## CREATE TABLE FOR USER_SESSIONS TABLE

create_query2 = """CREATE TABLE IF NOT EXISTS users_sessions (
userId           INT,
sessionId        INT,
itemInSession    INT,
artist           VARCHAR,
song             VARCHAR,
length           DECIMAL,
firstName        VARCHAR,
lastName         VARCHAR,
gender           VARCHAR,
location         VARCHAR,
level            VARCHAR,
PRIMARY KEY ((userId, sessionId), itemInSession)
)
"""

try:
    session.execute(create_query2)
except Exception as e:
    print(e)

In [25]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        #INSERT statements for users_sessions values
        query = """INSERT INTO users_sessions (userId, sessionId, itemInSession, artist, song, length, 
        firstName, lastName, gender, location, level)
        """
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (int(line[10]), int(line[8]), int(line[3]), line[0], line[9], float(line[5]),
                                line[1], line[4], line[2], line[7], line[6]) )

In [29]:
# Select artist name, song name, user first and last name for the sessionId = 338 and itemInSession = 4 from session_library
select_query2 = """SELECT artist, song, firstName, lastName FROM users_sessions 
                    WHERE userId=10 AND sessionId=182"""
try:
    rows = session.execute(select_query2)
except Exception as e:
    print(e)
else:
    for row in rows:
        print(row.artist, row.song, row.firstname, row.lastname)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

- The following query is required to obtain the data filtered by sessionId and itemInSession

`SELECT  firstName, lastName FROM music_library3 WHERE song = 'All Hands Agains His Own'`

For this table the primary key is a composed key `PRIMARY KEY (song, sessionId)`, song is the partition key, song and artist are the clustering keys, considering that same song title can be written by two different artist.

In [30]:
# CREATE TABLE FOR SONGS_LIBRARY
create_query3 = """CREATE TABLE IF NOT EXISTS songs_library (
song             TEXT,
sessionId        INT,
itemInSession    INT,
artist           TEXT,
length           DECIMAL,
userId           INT,
firstName        TEXT,
lastName         TEXT,
gender           TEXT,
location         TEXT,
level            TEXT,
PRIMARY KEY (song, sessionId)
)
"""

try:
    session.execute(create_query3)
except Exception as e:
    print(e)

In [32]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        # INSERT statements for songs_librart values
        query = """INSERT INTO songs_library (song, sessionId, itemInSession, artist, length, userId, 
        firstName, lastName, gender, location, level)
        """
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[9], int(line[8]), int(line[3]),  line[0], float(line[5]),
                               int(line[10]), line[1], line[4], line[2], line[7], line[6])
                        )

In [33]:
# Select for query 3
# Select artist user first and last name that have listened the song named 'All Hands Agains His Own'

select_query3 = """SELECT  firstName, lastName FROM songs_library WHERE song = 'All Hands Against His Own'"""
try:
    rows = session.execute(select_query3)
except Exception as e:
    print(e)
else:
    for row in rows:
        print(row.firstname, row.lastname)

Sara Johnson
Jacqueline Lynch
Tegan Levine

### Drop the tables before closing out the sessions

In [34]:
# Drop Table sessions_library
try:
    session.execute('DROP TABLE sessions_library')
except Exception as e:
    print(e)
    
# Drop Table users_sessions
try:
    session.execute('DROP TABLE users_sessions')
except Exception as e:
    print(e)
# Drop Table songs_library
try:
    session.execute('DROP TABLE songs_library')
except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [35]:
session.shutdown()
cluster.shutdown()